.venv/
.venv*/
venv/
venv*/
.env
*.pyc
__pycache__/
*.log
.DS_Store
media/
staticfiles/
*.sqlite3
*-firebase-adminsdk-*.json
*-firebaseadminsdk-*.json
service-account*.json
firebase-service-account.json
FireBase/
